{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Inscribe{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script
      type="text/javascript"
      src="{% static 'js/uikit.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/uikit-icons.min.js' %}"
    ></script>
  </head>
  <body>
    <!-- Will contain the Navbar -->
    {% block navbar %}
    <header>{% include 'includes/navbar.html' %} {% endblock %}</header>
    <!-- Will contain the Main Body -->
    <main>{% block body %} {% endblock %}</main>
    <!-- Will contain the Footer -->
    {% block footer %}
    <footer>{% include 'includes/footer.html' %} {% endblock %}</footer>
  </body>
</html>
