<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Inscribe{% endblock %}

{% block body %}
<div id="page-content-wrapper" class="bg-pattern">
  <div class="container-fluid h-100">
    <div class="m-auto">
      <div class="col-12 col-sm-6 bg-danger">Get started</div>
      <div class="col-12 col-sm-6 bg-warning">
        <img
          class="img-fluid"
          src="{% static 'images/landing-page.svg' %}"
          alt="landing page picture"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
