<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Inscribe{% endblock %}

{% block body %}
<div id="page-content-wrapper" class="bg-pattern">
  <div class="container-fluid min-vh-100 text-white">
    <div class="align-items-center d-flex min-vh-100 row">
      <div class="col-sm">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto enim
          quia corrupti est exercitationem velit praesentium possimus veritatis
          soluta alias deleniti provident, sed distinctio obcaecati quam animi
          repellat architecto dolorum.
        </div>
        <div>
          <button class="btn btn-success">Get started</button>
        </div>
      </div>
      <div class="col-sm">
        <img src="{% static 'images/notes.svg' %}" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
