<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
/>
<link rel="stylesheet" href="{% static 'notes/css/create.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}
Inscribe
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div id="page-content-wrapper" class="">
  <div id="sizer" class="m-auto">
    <textarea id="markdown-editor"></textarea>
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block additional_js %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("markdown-editor"),
    // toolbar: true,
  });
</script>
{% endblock %}
