<!-- prettier-ignore -->
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}Inscribe{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <!-- prettier-ignore -->
      {% block navbar %} {% include 'includes/navbar.html' %} {% endblock %}
      {% block body %} {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
      function toggleNavbar() {
        const toggler = document.getElementById("wrapper");
        toggler.classList.toggle("toggled");
      }
    </script>
  </body>
</html>
